
.logo{
	padding-left: 30px;
	padding-top: 39px;
}

.mtavari{
	display: inline-block;
	
	width: 92px;
	height: 25px;
	padding-left: 49px;
	padding-top: 36px;
	font-size: 22px;
    color: #EE4036;

}

.siaxleebi{
	display: inline-block;
	width: 114px;
	height: 25px;
    padding-left: 22px;
    padding-top: 36px;
    font-size: 22px;
    color: #3D58A6;  
}

.kontaqti{
	display: inline-block;
	width: 103px;
	height: 25px;
    padding-left: 22px;
    padding-top: 36px;
    font-size: 22px;
    color: #3D58A6; 
}

.Banner{
	width: 1170px;
	height: 460px;
	padding-left: 98px;
	padding-top: 84px;
}

.Bannertext{
	position: absolute;
	width: 398px;
	height: 178px;
	left: 136px;
	top: 180px;
	font-size: 30px;
	color: #E6E6E6;
}

.FEATURED{
	width: 400px;
	height: 32px;
	padding-left: 98px;
	padding-top: 109px;
	font-size: 24px;
	color: #000000;
	font-family: 'Roboto', sans-serif;
}

.foni1{
	display: inline-block;
	width: 570px;
	height: 225px;
	margin-left: 98px;
	margin-top: 29px;
	background: #F2F2F2;

	
}

.RESPONSIVE{
	width: 294px;
	height: 29px;
	padding-left: 20px;
	padding-top: 11px;
	font-size: 22px;
	color: #3D58A6;
}

.img4{
	width: 100px;
	height: 143px;
	padding-left: 36px;
	padding-top: 12px;
}

.text1{
	display: inline-block;
	width: 355px;
	height: 143px;
	padding-left: 53px;
	padding-top: 12px;
	font-size: 20px;
	color: #333333;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
}

.foni2{
    display: inline-block;
	width: 570px;
	height: 225px;
	margin-left: 29px;
	
	background: #F2F2F2;

}

.cifri{
	display: inline-block;
 	font-size: 48px;
 	margin-left: 30px;
 	margin-top: 36px;
 	background-color: #3D58A6;
 	width: 56px;
 	height: 56px;
 	color: #FFFFFF
 }   
 .tve{
 	display: inline-block;
 	font-size: 22px;
 	width: 56px;
 	height: 25px; 
 	color: #3D58A6;
 	padding-left: 30px;
 	padding-top: 23px;

 }


 
 .satauri{

 	font-size: 20px;
 	padding-top: 18px;
 	padding-left: 30px;
 	
 }
 .img{

 	padding-top: 16px;
 	padding-left: 30px;
 	width: 270px;
 	height: 210px;
 }
 .text{
 	display: inline-block;
 	font-size: 16px;
 	padding-top: 27px;
 	padding-left: 30px;
 	width: 1146px;
 	height: 360px;
 }
 

 .kontaqtebi{
 	
 	position: absolute;
 	padding-left: 87px;
 	padding-top: 73px;
 	width: 250px;
 	height: 92px;
 }
 .satauri3{
 	font-size: 20px;
 	color: #3D58A6;
 }
 .misamarti{
 	font-size: 16px;
 	padding-top: 10px;
 	
 }
 .tel{
 	font-size: 16px;
 	padding-top: 5px;
 	
 }
.fosta{
	font-size: 16px;
	padding-top: 5px;
	

}
.MisTelEl{
	
	font-size: 16px;
	color: #808080
}
 

 .foni3{
 	background-color: #E6E6E6;
 	width: 1366px;
 	height: 570px;
 	margin-top: 21px;
 }


 .map{
 	
 	padding-top: 52px;
 	padding-left: 402px;
 }


/*-index1*/

.mtavari1{
	display: inline-block;
	
	width: 92px;
	height: 25px;
	padding-left: 49px;
	padding-top: 36px;
	font-size: 22px;
    color: #3D58A6;

}

.siaxleebi1{
	display: inline-block;
	width: 114px;
	height: 25px;
    padding-left: 22px;
    padding-top: 36px;
    font-size: 22px;
    color: #EE4036;  
}

/*-index2*/


.mtavari2{
	display: inline-block;
	
	width: 92px;
	height: 25px;
	padding-left: 49px;
	padding-top: 36px;
	font-size: 22px;
    color: #3D58A6;
}

.kontaqti2{
	display: inline-block;
	width: 103px;
	height: 25px;
    padding-left: 22px;
    padding-top: 36px;
    font-size: 22px;
    color: #EE4036; 
    }


.img7{
	width: 14px;
	height: 30px;
	padding-left: 109px;
	padding-top: 34px;
	padding-bottom: 50px;
}

.img8{
	width: 14px;
	height: 30px;
	padding-left: 65px;
	padding-top: 34px;
	padding-bottom: 50px;

}